body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}
header {
    background-color: rgb(255, 186, 232);
    color:  rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}
.intro {
    text-align: center;
    padding: 1rem;
}
.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
.product {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.product img {
    width: 100%;
    border-radius: 8px;
}
footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

/*tablet 600px*/

@media(min-width:1024px){
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*Desktop >1024px*/

@media(min-width: 1024px){
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
    .intro {
        padding: 2rem;
        font-size: 1.2rem;
    }
}